.nav {
  display: flex;
  gap: 20px;
}

.NavLink {
  text-decoration: none;
  color: #555; /* Колір тексту для звичайних посилань */
  font-size: 18px;
}

.NavLink.active {
  color: #06ac00; /* Колір тексту для активного посилання */
}

.NavLink:hover {
  color: #0afa02; /* Колір тексту при наведенні */
}


