
.container {
  padding: 20px;
}

.label{
  display: flex;
  gap: 5px;
  flex-direction: column;

}

.button{
  background-color: rgba(18, 192, 18, 0.884);
  color: aliceblue;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
& button:hover {
  background-color: #039903e1;
  border: 1px solid rgb(130, 184, 125);
}
}