.wrapper {
  width: 300px;
  border: 2px solid rgb(8, 196, 18);
  background-color: rgba(90, 94, 89, 0.774);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  background: rgb(8, 196, 18);
  box-shadow: 0 5px 0 #039903e1;
  color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  border: none; 
  cursor: pointer; 
}

.button:hover {
  background: #d60505f1;
  box-shadow: none;
  position: relative;
  top: 5px;
}

.icon {
  margin-right: 5px;
}


