.wrapper {
  width: 300px;
  border: 2px solid rgb(8, 196, 18);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: rgba(18, 192, 18, 0.884);
  color: aliceblue;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255); 
  cursor: pointer; 
}

.button:hover {
  background-color: rgb(230, 7, 26);
  border: 2px solid rgb(32, 3, 3);
}

.icon {
  margin-right: 5px;
}
