.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: white;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}

.NavLink {
  text-decoration: none;
  color: #048600; 
  font-size: 18px;
}

.NavLink:hover {
  
  color: #0afa02;  
}
